body {
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

p {
    word-wrap: break-word;
}

.wrapper {
    margin: 5px;
    width: 1000px;
}

header {
    background-color: orange;
    height: 60px;
    width: 30%;
    margin-bottom: 10px;
}

.gemsWrapper {
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green
}

.gems {
    cursor: pointer;
}

#gem1,
#gem2,
#gem3,
#gem4 {
    height: auto;
    width: 100px;
    margin: 20px;
}

.instructions {
    height: 300px;
    width: 50%;
    background-color: peachpuff;
    margin-bottom: 10px;

}

.numberToGuess {
    float: left;
    background-color: lightgreen;
    width: 200px;
    height: 100px;
    margin-right: 10px;
    font-size: 40px;
}

.winLoss {
    float: left;
    background-color: lightblue;
    height: 100px;
    width: 100px;
}

.statsWrapper {
    clear: both;
    width: auto;
    height: 100px;

}

#scoreText {
    clear: both;
    background-color: teal;
    margin-bottom: 10px;
    font-size: 20px;
}

.score {
    width: 200px;
    color: white
}

#score {
    background-color: teal;
    height: 100px;
    font-size: 40px;
}



#winLossStatus {
    min-height: 30px;
    font-size: 20px;
    background-color: azure;
    margin-bottom: 10px;
}

.wins {
    margin-bottom: 15px;
}