body {
    background-color: brown
}

.wrapper {
    margin: 5px;
}

.gemsWrapper {
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green
}

#gem1 {
    height: auto;
    width: 100px;
    margin: 20px;
}

#gem2 {
    height: auto;
    width: 100px;
    margin: 20px;
}

#gem3 {
    height: auto;
    width: 100px;
    margin: 20px;
}

#gem4 {
    height: auto;
    width: 100px;
    margin: 20px;
}

header {
    background-color: orange;
    height: 60px;
    width: 30%;
    margin-bottom: 10px;
}

.instructions {
    height: 300px;
    width: 50%;
    background-color: peachpuff;
    margin-bottom: 10px;

}

.numberToGuess {
    background-color: lightgreen;
    height: 100px;

}

.winLoss {
    background-color: lightblue;
    height: 100px;
}

#scoreText {
    background-color: teal;
    margin-bottom: 10px;

}

.score {
    width: 150px;
}

#score {
    background-color: teal;
    height: 100px;
}

.statsWrapper {
    width: 200px;
}

#winLossStatus {
    min-height: 30px;
}